.p-gry-13{
    color:#666767;
    font-size: 13px;
}
.p-blue-13{
    color:#007ac6;
    font-size:13px;
}

.auth-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f3;
}


.auth-container-1{
    margin-right: 30px;
    padding: 20px;
   
}
.auth-container-2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20%;

    
}
.auth-container-2 form{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:24px;
    border-radius: 10px;
    box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}
.auth-container-2 form label input{
    padding: 8px 10px;
    width:calc(100% - 23px);
    font-size: 13px;
    border:solid 1px #0000003e
}

.auth-container-2 form label:nth-child(1) h4,
.auth-container-2 form label:nth-child(2) h4,
.auth-container-2 form label:nth-child(3) h4{
    margin-top: 10px;
    margin-bottom: 5px;
}
.auth-container-2 form label:nth-child(4){
    display: flex;
}
.auth-container-2 form label:nth-child(4) input{
    width: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.auth-btn{
    margin:10px 0 3px 0;
    padding:10px 5px;
    background-color: #009dff;
    color: white;
    border:solid 1px #009dff;
    border-radius: 3px;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.auth-btn:hover{
    background-color: #018ce3;
}
.handle-switch-btn{
    background-color: transparent;
    border: none;
    color:#007ac6;
    font-size: 13px;
    cursor: pointer;
}




#logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    
}

.login-logo{
    width: 32px;
    height: 37px;

}