.main-bar{
    width: calc(100% - 300px - 24px);
    float: left;
    margin:25px 0;
    padding: 0;
}
.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    background-color: #009dff;
    padding:10px 15px;
    border-radius: 4px;
    color:white;
    transition: 0.3s;
    border:none;
}
.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}
.display-question-container{
    background-color: #fdf7e2;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #edeff0;
    min-height: 80px;
    width: 100%;
}
.display-votes-ans{
    padding: 20px;
    
}
.display-votes-ans p{
    text-align: center;
    margin:0;
}


.display-question-details{
    flex:1 0 auto;
    padding:0px 20px;
}
.display-question-details .question-title-link{
    color:#037ecb;
    transition:0.3s
}
.question-title-link:hover{
    color:#009dff
}

.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}

.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    background-color: #edeff0;
    color: #39739d;
    font-size: 13px;
}
.display-tags-time .display-time{
    font-size: 13px;
}